<ion-view title="I Follow" hide-nav-bar="true">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="masonry">
      <div class="thumb">
        <img src="http://hkwebdesigner.com/YouYa/creator_img/user_img_2.jpg">
        <a ui-sref="toRate">
          <div class="after">
            <div class="bottom_caption flex">
              <span>
                <ul>
                  <li>Username</li>
                  <li>Location</li>
                </ul>
              </span>
              <span class="right thumb_rate">90%</span>
            </div>
          </div>
        </a>
      </div>
      <div class="thumb">
        <img src="http://hkwebdesigner.com/YouYa/creator_img/user_img_3.jpg">
        <a ui-sref="toRate">
          <div class="after">
            <div class="bottom_caption flex">
              <span>
                <ul>
                  <li>Username</li>
                  <li>Location</li>
                </ul>
              </span>
              <span class="right thumb_rate">90%</span>
            </div>
          </div>
        </a>
      </div>
      <div class="thumb">
        <img src="http://hkwebdesigner.com/YouYa/creator_img/user_img_4.jpg">
        <a ui-sref="toRate">
          <div class="after">
            <div class="bottom_caption flex">
              <span>
                <ul>
                  <li>Username</li>
                  <li>Location</li>
                </ul>
              </span>
              <span class="right thumb_rate">90%</span>
            </div>
          </div>
        </a>
      </div>
      <div class="thumb">
        <img src="http://hkwebdesigner.com/YouYa/creator_img/user_img_5.jpg">
        <a ui-sref="toRate">
          <div class="after">
            <div class="bottom_caption flex">
              <span>
                <ul>
                  <li>Username</li>
                  <li>Location</li>
                </ul>
              </span>
              <span class="right thumb_rate">90%</span>
            </div>
          </div>
        </a>
      </div>
    </div>


  </ion-content>
  <div class="tabs">
    <a ui-sref="toRate" class="tab-item icon ion-ios-arrow-left"></a>
    <div class="bottom_bar">
      <span class="title">I FOLLOW</span>
    </div>
    <a ui-sref="icons" class="tab-item icon ion-ios-home-outline"></a>
  </div>

</ion-view>