<ion-view title="Register" hide-nav-bar="true">
  <form name="formr" novalidate>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="group lang_group">
      <div class="form_container">
        <h3>Settings</h3>
        <h4>Language</h4>
      </div><!--end of lang form_container-->

      <div class="form_container">
      	<div class="row">
        	<div class="col"><button class="button" ng-class="engClass" ng-click="eng()" >Eng</button></div>
       		 <div class="col"><button class="button" ng-class="chClass" ng-click="china()">中文</button></div>
        </div><!--end of row-->
      </div><!--end of form_container-->
    </div><!--end of lang_group-->
    <div class="group category_group">
      <div class="form_container">
        <h3>Category</h3>
        <div class="row row-border text-center">
                <div class="col"><a ng-click="tab=true; fashion()" ng-class="tab_fashion"><h4>Fashion</h4></a></div>
                <div class="col"><a ng-click="tab=false; art()"><h4>Art</h4></a></div>
        </div>    <!--end of switcher-->
      
      <div style="margin-bottom:20px"></div>
     
      <div ng-show="tab">
          <div class="form_container">
            <div class="row">
                <div class="col"><button class="button" ng-class="category_tab_1" ng-click="women()">Women</button></div>
                <div class="col"><button class="button" ng-class="category_tab_2" ng-click="men()">Men</button></div>
            </div><!--end of row-->
          </div><!--end of form_container-->
          <div class="form_container">
            <div class="row">
                <div class="col"><button class="button" ng-class="category_tab_3" ng-click="teenboy()">Teen-boy</button></div>
                <div class="col"><button class="button" ng-class="category_tab_4" ng-click="teengirl()">Teen-girl</button></div>
            </div><!--end of row-->
          </div><!--end of form_container-->
          <div class="form_container">
            <div class="row">
                <div class="col"><button class="button button-block" ng-class="category_tab_5" ng-click="toddlers()">Toddlers</button></div>
            </div>
          </div>
          <div class="form_container">
            <h4 class="inline">Season</h4>
          </div>
          <div class="form_container">
            <div class="row">
                <div class="col"><button class="button" ng-class="ssClass" ng-click="ss()">S/S</button></div>
                <div class="col"><button class="button" ng-class="fwClass" ng-click="fw()">F/W</button></div>
            </div><!--end of row-->
           </div><!--end of form_container-->
          </div><!--end of fashtion tab-->
      <div ng-hide="tab" ng-class="tab_art"> 
              <div class="row">
                <div class="col" style="padding-top:0">
                    <button class="button button-block" ng-class="category_tab_6" ng-click="art()">Art</button>
                </div><!--end of col-->
              </div><!--end of row-->
      </div><!--end of tab_art-->
    </div><!--end of category form_container-->
    </div><!--end of category_group-->
      <div class="form_container">
        <h3>Location</h3>
        <div class="row">
            <div class="col">
            <form class="list">
              <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Current location" ng-model="form.city" ng-focus="locationFocus()">
              </label>
            </form>
            </div><!--end of col-->
        </div><!--end of row-->
      </div><!--end of location form_container-->


  <div class="bottom_button_group row">
    <a ng-click="back()" class="col button button-positive button-block vertical_button_left">CLOSE</a>
    <a ng-click="done()" class="col button button-positive button-block vertical_button_right " ng-disabled="formr.$invalid">SAVE</a>
  </div>
  </ion-content>

    <div class="bar bar-header hint-message" ng-show="errorShow">
      <button class="hint-close" ng-click="closeHint()"></button>
      <div class="valid-hint">{{errorMessage}}</div>
    </div>

  </form>
</ion-view>
