<ion-view title="Splash" hide-nav-bar="true" id="page1" class="splash">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div id="splash-container13" class="content">
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <a style="display:block;" ui-sref="login">
          <img src="img/z8A6pKdSF6bcrd4kRzbP_slash.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>